<div class="cold-md-12 col-xs-12">
    <div class="toolbar">
        <div class="col-xs-2">
            <button class="btn btn-danger pull-left" ng-click="safety()">
            <i class="fa fa-exclamation-circle fa-fw"></i> 
                Safety Information
            <i class="fa fa-exclamation-circle fa-fw"></i>
            </button>
        </div>
        <div class="col-xs-8">
            <div class="filter-title">Search Filters</div>
            <ul class="filters">
                <li ng-repeat="icon in filters">
                    <div class="filter" ng-click="select($index)" ng-class="{selected: icon.selected === true}">
                        <span>
                            <i class="fa fa-{{icon.name}} fa-fw"></i>
                        </span><br>
                        <span class="filter-text">{{icon.label}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-success pull-right" ng-click="submitLocation()"><i class="fa fa-plus-circle fa-fw"></i> Submit a Location</button>
        </div>
    </div>

    <div id="views" class="col-xs-12">
        <div id="map" class="col-xs-6">
            <ng-map zoom="14" style="height: 500px;" center="[38.982324,-76.943104]">
                <!-- place markers here for all listings (if selected) -->
                <marker position="current" animation="Animation.DROP" centered="false" icon="images/location.png"></marker>
                <marker position="[38.982324,-76.943104]" animation="Animation.DROP" centered="true" icon="images/location.png"></marker>
                <marker ng-repeat="listing in listings2" 
                        ng-show="display(listing)"
                        position="{{listing.lat + ',' + listing.lng}}"
                        title="{{listing.name}}"
                        on-click="showDetails(event, listing)"
                </marker>

                <info-window id="info-window">
                    <div ng-non-bindable="">
                        <strong>{{selected.name}}</strong><br>
                        <i ng-repeat="icon in getOffers(selected)" class="fa fa-{{icon}} fa-fw"></i>
                    </div>
                </info-window>
            </ng-map>
        </div>

        <ul id="listings" class="col-xs-6">
            <a class="listing" ng-repeat="listing in listings2" ng-click="view(listing)">
                <li ng-show="display(listing)" style="position: relative;">
                    <img alt="listing image" height="40" width="100"/>
                    <span class="text-center"><p>{{listing.name}}</span>
                    <span class="listing-icon">
                        <i ng-repeat="icon in getOffers(listing)" class="fa fa-{{icon}} fa-fw"></i>
                    </span>
                    <span class="listing-rating">
                        <i ng-repeat="star in range(listing.stars) track by $index" class=" star fa fa-star fa-fw"></i>
                        <span> Rating</span>
                    </span>
                </li>
                <li ng-show="listings.length === 0">
                    <span class="text-center">None to Display</span>
                </li>
            </a>
        </ul>
    </div>
</div>