<div class="cold-md-12 col-xs-12">
    <div class="toolbar">
        <div class="col-xs-2">
            <img alt="appLogo" height="30px" width="100px"/>
        </div>
        <div class="col-xs-8">
            <ul class="filters">
                <li ng-repeat="icon in filters">
                    <div class="filter" ng-click="select($index)" ng-class="{selected: icon.selected === true}">
                        <span><i class="fa fa-{{icon.name}} fa-fw"></i></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-success" disabled><i class="fa fa-plus fa-fw"></i>Submit</button>
        </div>
    </div>

    <div id="views" class="col-xs-12">
        <div id="map" class="col-xs-6">
            <ng-map zoom="10" center="[40.74, -74.18]">
                <!-- place markers here for all listings (if selected) -->
                <marker ng-repeat="listing in listings" 
                        position="{{listing.position}}"
                        title="{{listing.name}}"
                </marker>
            </ng-map>
        </div>

        <ul id="listings" class="col-xs-6">
            <a class="listing" ng-repeat="listing in listings" ng-click="view(listing)">
                <li ng-show="listing.display" style="position: relative;">
                    <img alt="listing image" height="40" width="100"/>
                    <span class="text-center"><p>{{listing.name}}</span>
                    <i class="listing-icon fa fa-{{listing.icon}} fa-fw"></i>
                    <span class="listing-rating">
                        {{listing.stars}} <i class=" star fa fa-star fa-fw"></i>
                    </span>
                </li>
                <li ng-show="listings.length === 0">
                    <span class="text-center">None to Display</span>
                </li>
            </a>
        </ul>
    </div>
</div>