<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<div class="container" style="position: relative">
	<button class="btn btn-info" ng-click="return()">Back to Home</button>
	<h1 style="color:red;">SAFETY INFORMATION</h1>
	<h2 style="color:red;" style="font-size:30%;">The GLBT National Help Center. Hotline: 1-888-THE-GLNH (888-843-4564)</h2>
	<h3>Make Sure You Are Safe</h3>
	<p>If you are in physical danger, call the Police.
		If you experience violence or threats of violence, contact the police immediatley. Id anyone is physically violent with you or threatens to be violent, they are breaking the law and the police can help.</p>
	<h3>Be Firm</h3>
	<p>Denounce thier behavior with a strong, clear voice: "Do not comment on my body, that is harassment."  "Do not stare at me like that, that is harrasment."  "That is not OK."  "Don't speak to me like that."</p>
	<h3>Don't Engage</h3>
	<p>Harassers may try to engage you in further conversation or make fun of you.  As tempting as it may be to get into a verbal argument, we don't recommend it.</p>
	<h3>Keep Moving</h3>
	<p>Try to reach a crowded place.  Many times victims can fend off harassers by moving to crowded places or to new locations.</p>
</div>
</body>
</html>

