<div class="container" style="position: relative">
	<button class="btn btn-info" ng-click="return()">Back to Home</button>
	<h1>Submit Location</h1>

	<form>
		<br>
		<h4><strong>Title</strong></h4>
		<input type="text" style="width: 100%; max-width: 400px; font-size: 1.3em" 
		placeholder="Title" ng-model="page.name" required/><br><br>

		<h4><strong>Features</strong></h4>

		<ul style="font-size: 2em; padding: 0; margin-bottom: 20px;">
			<li style="display: inline-block; list-style: none;">
			<i class="fa fa-user fa-fw"></i>
			<input type="checkbox" ng-class="{selected: page.crisisCenter}" ng-model="page.crisisCenter">
			<br><span style="margin: 0 auto; font-size: 0.4em;">Crisis Center</span>
			</li>

			<li style="display: inline-block; list-style: none;">
			<i class="fa fa-transgender-alt fa-fw" alt="Gender-Neutral Bathroom"></i>
			<input type="checkbox" ng-class="{selected: page.genderNeutralBathroom}" ng-model="page.genderNeutralBathroom">
			<br><span style="margin: 0 auto; font-size: 0.4em;">Bathroom</span>
			</li>

			<li style="display: inline-block; list-style: none;">
			<i class="fa fa-home fa-fw" alt="Shelter"></i>
			<input type="checkbox" ng-class="{selected: page.shelter}" ng-model="page.shelter">
			<br><span style="margin: 0 auto; font-size: 0.4em;">&nbsp;Shelter</span>
			</li>

			<li style="display: inline-block; list-style: none;">
			<i class="fa fa-flag fa-fw" alt="Safe Space"></i>
			<input type="checkbox" ng-class="{selected: page.verifiedSafeSpace}" ng-model="page.verifiedSafeSpace">
			<br><span style="margin: 0 auto; font-size: 0.4em;">Safe Space</span>
			</li>

		</ul>

		<ng-map zoom="20" style="width: 100%;" center="38.988111,-76.944729">
			<marker position="38.988111,-76.944729" animation="Animation.DROP" icon="images/location.png"></marker>
	    </ng-map>

		<br>
		<input type="reset" class="btn btn-danger" value="Clear Entry"/>
		<button class="btn btn-success" ng-click="submitLocation()">Submit Location</button>
	</form>
</div>